@import url('https://fonts.googleapis.com/css2?familfamily=Poppins:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    body{
        background-color: #131313;
        margin: auto;
    }

/* this is the navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    
}
.logo{
    width: 40px;
    height: 40px;
    background-color: #131313;
    position: fixed;
    top: 10px;
    left: 0;
    margin: 0 10px;
}

ul {
    overflow: hidden;
    background-color: #131313;
    display: flex;
    list-style-type: none;
    }
  
  
  li a {
    display: flex;
    color: rgb(204, 201, 201);
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    margin-top: 15px;
  }
  
  
  a:hover {
    color: rgb(255, 254, 254);
  }

 
  /* section four styling */

.section-four{
    margin: auto 200px;
}
<<<<<<< HEAD
=======

>>>>>>> da8cc541fd835e1d3f5134a6a4557916eff5bd46
.one, .two, .three, .four {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    margin-top: 40px;
}

img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    margin-right: 40px;
}
.text h2{
    color: #eeeeee;
    font-size: 20px;
    text-align: start;
}
.text p{
    color: #eeeeee;
    font-size: 16px;
}


/* this is the footer styles */
.footer {
    color: var(--light-color);
    margin-top: 50px;
    background-color: hsla(0,0%,100%,.05);
}

.footer .footer-content {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 50px;
    font-size: 16px;
    text-align: start;
}

.footer, .footer-content {
    justify-content: space-between;
}

.footer, .footer-info {
    display: flex;
    grid-gap: 20px;
    gap: 20px;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

/* .logo-container  */

.footer a {
    color: var(--light-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
}

span.socials-icons {
    border: 0;
    box-shadow: none;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .footer-content>div {
    display: flex;
    flex-direction: column;
}

.links {
    display: block;
}

.footer h2 {
    font-size: 16px;
    text-transform: uppercase;
    opacity: .6;
    padding-bottom: 10px;
}

.footer p {
    margin-bottom: 10px!important;
}