@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

body {
    background-color: #131313;
    min-height: 100vh;
    margin-bottom: -13px;
}

/*scrollbar setting*/

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #070707; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 252, 252); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(61, 61, 61); 
  }

/* NAVBAR STYLING STARTS HERE */
.navbar {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    color: rgb(238, 238, 238);
    position: fixed;
    width: 100%;   
    background: #131313; 
    top: 0;
}

.trending, .feat, .latest, .help, p.truncate {
    font-size: 12px;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.logo {
    width: 40;
    height: 32;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #131313;
}

img.logo {
    margin-right: 20px;
}

.navbar ul {
    display:flex;
    align-items:center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.navbar ul * {
    font-size: 14px !important;
}

.navbar ul li a {
    display: flex;
}

ul {
    overflow: hidden;
    display: flex;
    background-color: #131313;
    list-style-type: none;
}
  
li  a {
    color: #eeeeee;
    text-align: center;
    padding: 0px 15px;
    text-decoration: none;
}

.spot{
    opacity: 70%;
}

.spot:hover{
    opacity: 100%;
}

.navbar li.start-coding a {
    font-weight: 600;
    border: 1px solid rgb(68 143 244);
    box-shadow: 0 0 20px #000;
    background: linear-gradient(160deg, #33a9dc,#4c83ff);
    padding: 7px 15px;
    font-family: "Open Sans", sans-serif;
    /* I REMOVED THE BORDER BECAUSE THE ORIGINAL PAGE HAS NO BORDER AND NOTE THAT THERE IS A MIXUP ON THE HOVER EFFECTS. @SADIYA IF YOU DONT UNDERSTAND ASK ME!!!!!! */
    border-radius: 2px;
    transition: box-shadow 0.2 linear;
}
.navbar li.start-coding a:hover{
    opacity: 0.7;
}

.navbar ul span {
    margin-left: 7px;
}

.start-coding {
    margin-left: 15px;
}

.login {
    background-color: #000;
    border: 1px solid rgb(92, 88, 88);
    padding: 7px 2px;
    font-weight: 400;
    margin-left: 15px;
    border-radius: 3px;
}

.login:hover{
    opacity: 0.7;
}

.search {
    background-color: #000;
    border: 1px solid rgb(92, 88, 88);
    padding: 7px 2px;
    font-weight: 700;
    margin-left: 15px;
    border-radius: 3px;
}

li.search i {
    line-height: 21px;
}

.navbar ul img {
    width:14px;
    vertical-align: bottom;
}
/* NAVBAR STYLING ENDS HERE */

div.user span {
    font-size: 12px;
}

.subtrends-footer * {
    font-size: 12px !important;
}

/* SECTION 2 - 4 STARTS HERE */
.container {
    width: 100%;
    max-width: 1000px;
    padding: 30px;
    margin: 100px auto auto;
}

.main-content {
    font-size: 2rem!important;
    text-align: center!important;
    color: #eee;
}

.imglogo {
    width: 256px;
    height: 75px;
    fill: none;
}

.the-place {
    line-height: 90px;
    font-size: 70px;
    margin: auto;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(
      292.46deg,
      #27ae60 17.79%,
      #2f80ed 35.92%,
      #9b51e0 54.06%,
      #eb5757 71.08%,
      #f2994a 87.36%
    );
}

.the-playground {
    color: #eee;
    line-height: 30px;
    font-size: 26px; 
    margin-top: 15px;
}

.js-editor {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
}

.explore {
    color: #eee;
    font-size: 1.3rem;
} 

.col {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-gap: 20px;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

.row {
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #eee;
}

.row h2 {
    color: #eee;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 0;
}

.row p {
    color: #eee;
    font-size: 16px;
    margin-top: 4px;
    line-height: 20px;
}

.col img {
    width: 100%;
    height: 100%;
    max-width: 350px;
    margin: auto;
}

.sect-4 {
    display: flex;
    margin-top: 20px;
    grid-gap: 20px;
    gap: 20px;
}

.sect-4 img {
    width: 100%;
    height: 100%;
    max-width: 250px;
    margin-right: 20px;
}

.sect-4 h2 {
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #eee;
}

.sect-4 p {
    margin-top: 4px;
    color: #eee;
    line-height: 25px;
}
/* SECTION 2 - 4 ENDS HERE */

/* FOOTER STYLING STARTS HERE */
.footer {
    margin-top: 50px;
    background-color: hsla(0,0%,100%,.05);
} 
.footer .footer-content {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 50px;
    font-size: 16px;
    text-align: start;
}

.footer, .footer-info {
    color: #eeeeee;
}

.footer .footer-content>div {
    display: flex;
}

span.logo-container img {
    width: 50;
    height: 19.3333;
    fill: none;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer .footer-info .links>div {
    flex-direction: column;
}

.footer-main {
    display: flex;
    justify-content: space-between;
}

.footer .links a {
    color: #eeeeee;
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    display: block;
}

span.socials-icons {
    border: 0;
    box-shadow: none;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.socials-icons img {
    width: 16;
    height: 32;
    fill: none; 
}

.footer h2 {
    font-size: 16px;
    text-transform: uppercase;
    opacity: .6;
    padding-bottom: 10px;
    color: #eeeeee;
}

.footer p {
    margin-bottom: 10px!important;
}

span.contact-email img {
    width: 175.5; 
    height: 17; 
    fill: none;
}
/* FOOTER STYLING ENDS HERE */



/* FOOTER STYLING ENDS HERE */
@media screen and (max-width: 1000px) {
    .container{
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .container{
        width: 100%;
    }
    .spot{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .spot, .pots, .footer-info{
        display: none;
    }
    li.search i {
        line-height: 14px;
    }
    .col, .footer-main {
        flex-direction: column;
    }
    .sect-4{
        flex-flow: column wrap-reverse;
    }
    
    .links, .copyright {
        margin-top: 20px;
    }
    .footer .footer-content {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: medium;
    }
}





