*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-size: 16px;
}

.logo{
    display: flex;
}
/* TRENDS PAGE STYLING STARTS HERE */
.trends-page {
    padding-top: 50px;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.trends-toolbar {
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(37,37,37,8);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.trends-nav {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    grid-gap: 10px;
    gap: 10px;
}

.trends-button {
    width: 100%;
    border: 0;
    border-radius: 2px;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 14px;
    cursor: not-allowed;
    background: #424242;
    color: #eee;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.trends-button span {
    border: 0;
    box-shadow: none;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.trends-button img {
    width: 16px;
    height: 16px;
}

.trends-main {
    display: grid;
    gap: 20px;
    margin-top: 20px;
    grid-template-columns: repeat(4,1fr);
    
}

.trends-cards {
    max-width: 325px;
    display: flex;
    flex-direction: column;
    background-color: #252525;
    overflow: hidden;
    cursor: pointer;
    
}

.trends-cover { 
    background: #414141;
    padding: 15px;
    justify-content: center;
    align-items: center;
    height: 185px;
    overflow: hidden;
}

.trends-cover img {
    width: 100%;
    /* height: 185px; */
    border-radius: 2px;
}

.trends-cards:hover {
    box-shadow: 0 0 10px rgb(0 0 0 / 70%);
    transition: all .3s ease-in-out;
}

.trends-cards:hover .trends-cover img {
    margin-top: -9px;
    transition: all .4s ease;
}

.sub-trends-info {
    padding: 20px 20px;
}

.bluecode {
    font-size: 11px;
    font-weight: 600;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    color: #eee;
    background: linear-gradient(160deg, #33a9dc, #4c83ff);
}

.subtrends-title {
    font-size: 16px;
    color: #eee;
    margin: 5px 0 10px 0;
}

.subtrends-details {
    font-size: 12px;
    overflow: hidden;
    margin-bottom: 12px;
    color: #eee;
}

.trends-username img {
    width: 22px;
    height: 22px;
}

.trends-username {
    display: flex;
    align-items: center; 
    gap: 10px;
}

.sub-trends-display-name {
    font-size: 12px;
    color: #eee;
} 

.subtrends-footer {
    padding: 10px 10px;
    margin-top: auto;
    color: #eee;
    background-color: hsla(0,0%,100%,.05);
    justify-content: space-between;
}

.subtrends-stats {
    display: flex;
    padding: 10px;
    width: 100%;
    border-radius: 2px;
    background-color: hsla(0,0%,100%,.1);
    text-align: center;
}

.subtrends-stat {
    align-items: center;
    align-content: center;
    width: 33.33%;
    justify-content: center;
}

span.subtrends-footer-icon {
    border: 0;
    box-shadow: none;
    padding: 0;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.subtrends-footer-icon img {
    width: 14;
    height: 14;
    fill: none;
}

.subtrends-footer-icon label {
    font-size: 12px;
}

.bord {
    border-left: 1px solid rgba(0,0,0,.2);
    border-right: 1px solid rgba(0,0,0,.2);
    box-shadow: -1px 0 0 0 hsl(0deg 0% 100% / 10%);
}


/* ANIMATION FOR TRENDS PAGE */


/* MEDIA QUERIES FOR TRENDS PAGE*/
@media screen and (max-width:1000px){
 .trends-main {
    grid-template-columns: repeat(3,1fr);
 }   
}
@media screen and (max-width:800px){
    .trends-main {
       grid-template-columns: repeat(2,1fr);
    }   
   }
   @media screen and (max-width:600px){
    .trends-main {
       grid-template-columns: repeat(1,1fr);
    }   
   }